<div class="container-fluid">
  <h1 class="text-center p-4 mb-5" style="margin:0%">Lista de livros cadastrados:</h1>
</div>
<div class="container">
  <app-messages class="d-flex justify-content-center text-success"></app-messages>
  <table class="table border border-dark">
    <thead>
      <tr>
        <th class="col-3">#</th>
        <th class="col-5">Título:</th>
        <th class="col">
          <button class="btn btn-outline-primary" routerLink="/cadastrar-livros">Cadastrar</button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="livros.length > 0 ; else listaVazia">
      <tr *ngFor="let livro of livros">
        <td>{{ livro.id }}</td>
        <td>{{ livro.titulo }}</td>
        <button class="btn btn-outline-primary btn-sm m-1" routerLink="/atualizar-livro/{{ livro.id }}">Editar</button>
        <button class="btn btn-outline-danger btn-sm m-1" (click)="confirmacao(livro.id)">Deletar</button>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #listaVazia>
  <h2  class="text-center text-danger" #listaVazia>Nenhum livro cadastrado</h2>
</ng-template>
<app-message-erro-api class="text-center h1" *ngIf="erroRequisicao" mensagem="{{ mensagemErroRequisicao }}">
</app-message-erro-api>
