<form (ngSubmit)="submit()" [formGroup]="livroForm" #formDir="ngForm">
  <input type="hidden" formControlName="id">
  <div class="container">
    <h3 class="text-center">Preencha o formulário para {{btnText}} um novo livro: </h3>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="labelNome">Título: </div>
      </div>
      <input type="text" class="form-control" placeholder="Título" formControlName="titulo"
        aria-label="Input group example" aria-describedby="labelTitulo">
    </div>
    <div *ngIf="titulo.invalid && formDir.submitted" class="text-danger">
      <p *ngIf="titulo.errors?.['required']" class="alert alert-danger">O título é obrigatório.</p>
    </div>
    <div class="input-group mt-5">
      <div class="input-group-prepend">
        <span class="input-group-text">Ano Lançamento: </span>
      </div>
      <input type="text" class="form-control" placeholder="Ano Lançamento" formControlName="anoLancamento"
      aria-label="Input group example" aria-describedby="labelAnoLancamento">
    </div>
    <div *ngIf="anoLancamento.invalid && formDir.submitted">
      <p *ngIf="anoLancamento.errors?.['required']" class="alert alert-danger">O ano de lançamento é obrigatória.</p>
    </div>
    <div class="input-group mt-5">
      <div class="input-group-prepend">
        <span class="input-group-text">Autores: </span>
      </div>
      <input type="text" class="form-control" placeholder="Ids dos autores" formControlName="autoresIds"
      aria-label="Input group example" aria-describedby="labelAutoresIds">
    </div>
    <div *ngIf="autoresIds.invalid && formDir.submitted">
      <p *ngIf="autoresIds.errors?.['required']" class="alert alert-danger">O autor é obrigatória.</p>
    </div>
    <input type="submit" class="btn btn-outline-primary btn-lg btn-block my-5" value="{{btnText}}" >
  </div>
</form>
